---
- hosts: build_host
  gather_facts: no
  tasks:
    - name: archive container image as a tarball
      docker_image:
        name: nikspanos/cicd-pipeline_dev
        tag: "{{ image_version }}"
        archive_path: "/root/application_dev_{{ image_version }}.tar"
        source: pull
        state: present
    - name: fetch archived image
      fetch:
        src: "/root/application_dev_{{ image_version }}.tar"
        dest: "./application_dev_{{ image_version }}.tar"
        flat: true