---
- hosts: build_host
  gather_facts: no
  tasks:
   - name: create build directory
     file:
       path: ./app-dockerfile
       state: directory
       mode: '0600'
   - name: copy Dockerfile
     copy:
       src: ./Dockerfile
       dest: ./app-dockerfile/Dockerfile
       mode: '0600'
   - name: build container image
     docker_image:
       name: cicd-pipeline-application:version5
       build:
         path: ./app-dockerfile
         source: build
       state: present